@import "../bootstrap/scss/bootstrap.scss";

header.header{
    background-image: url("../img/bg.jpg");
}
footer.footer {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    p a img {
        width: 50px;
    }

}